<!DOCTYPE html>
<html>
<head>
    <title>Tracking test</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/datepicker.css"/>
    <link rel="stylesheet" href="css/chosen.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/qUnit.css"/>
</head>
<body>
<div class="container">
    <div id="ToDoListID">
        <h2 class="text-info">TO DO</h2>
        <button id="NewEntryButtonID" class="btn btn-success" type="button">New entry</button>
        <div class="display_type">
            <a href="#" class="display_type display_type__day">Day view</a>
            <a href="#" class="display_type display_type__month">Month view</a>
        </div>
        <div class="row">
            <div class="span12">
                <table id="ListTableID">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Name</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div id="NewToDoPlace"></div>
</div>

<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script src="js/mask.js"></script>
<script src="js/chosen.jquery.js"></script>
<script src="js/QUnit.js"></script>
<script src="js/QUnit-tests.js"></script>
<script src="js/Underscore.js"></script>
<script src="js/moment.js"></script>
<script src="js/backbone.js"></script>
<script src="js/backbone-localstorage.js"></script>
<script src="js/RequireJS.js"></script>
<script src="js/script.js"></script>

<!-- tpl data -->
<script type="text/template" id="entry-template">
    <td><%= date %></td>
    <td><%= hour %>:<%= minute %></td>
    <td><%= name %></td>
    <td class='icon-remove'></td>
    <td class='icon-pencil'></td>
</script>
<script type="text/template" id="counter-template">
    <div id="EntriesCountID" class="muted text-right hide"><span><%= remaining %></span> items in total</div>
</script>

</body>
</html>